/* just to center everything */

*{
    margin: 0;
    padding: 0;
    background-color: #191919;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-bottom: 20px;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif;  */
    font-family: 'Italiana', serif;
  }








/* main code  -  button   */    

  

button:hover{
    color:black;
    background-image: linear-gradient(
        to right,
        rgb(250, 82, 82),
        rgb(250, 82, 82) 16.65% ,
        rgb(190, 75, 219), 16.65% ,
        rgb(190, 75, 219), 33.3% , 
        rgb(76, 110, 245) 33.3%,
        rgb(76, 110, 245) 49.95%,
        rgb(64, 192, 87) 49.95%,
        rgb(64, 192, 87) 66.6%,
        rgb(250, 176, 5) 66.6%,
        rgb(250, 176, 5) 83.25%,
        rgb(253, 126, 20) 83.25%,
        rgb(253, 126, 20) 100%,
        rgb(253, 82, 82) 100%
    );
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY();

}

@keyframes dance6123 {
    to{
        background-position: var(--width);
    }
}

button{
    

    cursor: pointer;
    --width: 250px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: white;
    background-color: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
}



